# Python
__pycache__/
*.pyc
venv/
.env
*.log
*.pid
docker-compose.override.yml

# React (Frontend)
frontend/library/node_modules/
frontend/library/build/
frontend/library/*.log
frontend/library/.env

# Testing
/coverage

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

